@keyframes move-1 {
  15%,
  85% {
    color: rgba(0, 0, 0, 0);
  }
  50% {
    transform: translateZ(140px);
  }
}
@keyframes blinking-1 {
  30% {
    color: $blue_dark;
    background-color: $blue_dark;
    box-shadow: 0 0 15px $blue_dark;
  }
  60% {
    color: $blue_light;
    background-color: $blue_light;
    box-shadow: 0 0 15px $blue_light;
  }
}

@keyframes move-2 {
  30%,
  60% {
    transform: translateZ(210px);
  }
}
@keyframes blinking-2 {
  30%,
  60% {
    color: $blue_dark;
    background-color: $blue_dark;
    box-shadow: 0 0 15px $blue_dark;
  }
  40% {
    color: $blue_light;
    background-color: $blue_light;
    box-shadow: 0 0 15px $blue_light;
  }
}

@keyframes move-3 {
  35%,
  100% {
    transform: translateZ(0px);
  }
  50% {
    transform: translateZ(120px);
  }
  60% {
    transform: translateZ(100px);
  }
  70% {
    transform: translateZ(160px);
  }
}
@keyframes blinking-3 {
  35%,
  60%,
  100% {
    color: $blue_dark;
    background-color: $blue_dark;
    box-shadow: 0 0 15px $blue_dark;
  }
  50%,
  70% {
    color: $blue_light;
    background-color: $blue_light;
    box-shadow: 0 0 15px $blue_light;
  }
}

@keyframes move-4 {
  45%,
  70% {
    transform: translateZ(250px);
  }
}
@keyframes blinking-4 {
  45%,
  70% {
    color: $blue_light;
    background-color: $blue_light;
    box-shadow: 0 0 15px $blue_dark;
  }
  50% {
    color: $blue_dark;
    background-color: $blue_dark;
    box-shadow: 0 0 15px $blue_light;
  }
}
