.cube {
    position: absolute;
    width: 90px;
    height: 90px;
    margin: 10px;
    color: rgba(0,0,0,1);
    transform-style: preserve-3d;
    // box-shadow: 0 0 20px -5px, 
    //             -5px 5px 10px 0,
    //             -10px 10px 10px 0;

    &-center {
        position: relative;
        width: 90px;
        height: 90px;
        perspective: 10000px;
        transform: translateZ(45px);
        transform-style: preserve-3d;
    }

    &-side {
      position: absolute;
      width: 90px;
      height: 90px;
      background-color: $blue_dark;

      &--1 {
          transform-origin: top center;
          transform: rotateX(90deg) translateY(-50%);
      }
      &--2 {
          background-color: $dark;
          transform-origin: left center;
          transform: rotateY(90deg) translateX(-50%);
      }
      &--3 {
          background-color: $dark;
          transform-origin: bottom center;
          transform: rotateX(90deg) translateY(50%);
      }
      &--4 {
          transform-origin: right center;
          transform: rotateY(90deg) translateX(50%);
      }
      &--5 {
          transform: translateZ(-44px);
      }
      &--6 {
          transform: translateZ(44px);
      }
    }
  }